        * {
            margin: 0;
            padding: 0;
        }

        html {
            font-size: .8px;
        }

        body {
            position: relative;
            font-family: "Arial";
            cursor: url(../img/cursor.cur),default;
            background-image:radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);;
        }

        header {
            flex-wrap: wrap;
            padding-top: 30rem;
        }

        a {
            cursor: url(../img/football.cur),default;
            text-decoration:  none;
        }
        
        ul { 
            list-style: none; 
        }
        
        main  img {
            justify-content: flex-end;
            margin: 0 0 -4rem 0;
        }
        
        .wrapper {
            margin: 0 auto;
            max-width: 1000rem;
        }
        
        .flex_between {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .flex {
            align-items: center;
            display: flex;
        }
        
        .dark-bgc {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(4px);
            z-index: 1;
        }
        
        .burger {
            justify-content: flex-end;
            width: 50px;
            height: 100%;
            cursor: pointer;
            gap: 15rem;
        }

        .bord {
            display: block;
            margin: 4px;
            width: 30px;
            height: 5px;
            border-radius: 2px;
            background-color: white;
            transition: all 1s ease;
        }
        
        .burger:hover > .b1 {
            transform: translateX(20px);
        }
        .burger:hover > .b2 {
            transform: translateX(10px);
        }
        
        .b1, .b2 {
            width: 40px;
        }
       
        .b3 {
            width: 40px;
            top: 10px;
        }
        
        .center {
            position: absolute;
            top: 0;
            left: -100%;
            z-index: 2;
            background-color: white;
            transition: all .5s ease;
        }
        
        .cancel {
            position: absolute;
            top: -10px;
            right: 5px;
            cursor: pointer;
        }

        .center a {
            font-weight: bold;
            color:white;
            text-decoration:  none;
        }
        
        .hover :hover  {
            color: #f4d633;
        }
        
        .center {
            display: none;
        }

        .tel {
            padding-top: 15rem;
        }
        
        .tel img {
            width: 25rem;
            height: 26rem;
        }

        .tel a  {
            gap: 10rem;
            font-size: 16rem;
            color: #fff;
        }

        .mini  {
            font-size: 16rem;
            color: #ffffff;
            font-style: italic;
        }

        .big {
            padding-bottom: 24rem;
            max-width: 665rem;
            margin: 0 ;
            font-size: 30rem;
            color: #ffffff;
        }
        main {
            padding-bottom: 130rem;
        }
        .osnova {
            padding-top: 153rem;
            display: block;
        }

        .osnova h1 {
            text-transform: uppercase;
            margin: 0;
            font-size: 48rem;
            color: #ffffff;
            font-weight: 800;
        }
        
        .osnova a {
            display: block;
            text-transform: uppercase;
            font-size: 18rem;
            font-weight: bold;
            max-width: 100%;
            padding: 23rem ;
            text-align: center;
            color: #f4d633;
            border-radius: 40rem ;
            border-style: solid;
            border-color: #f4d633;
        }

        .vidguk {
            justify-content: center;
            flex-wrap: wrap;
            padding-top: 30rem;
            gap: 10rem;
        }

        .vidguk p {
            font-size: 20rem;
            color: #ffffff;
            font-weight: bold;
        }

        .ball {
            display: none;
            bottom: 86rem;
            right: 0rem;
        }

        .footer {    
            padding-top:12rem ;
            padding-bottom: 13rem;
            align-items: center;  
            background-color: #f4d633;
        }

        .rosclad {
            display: block;
            font-weight: bold;
            font-size: 16rem;
            line-height: 29rem;
            color: #1e3c6f;
        }

        .footer ul {
            gap: 8rem;
        }

        .footer ul img {
            width: 26rem;
            height: 26rem;
        }
        
        .logo2 p {
            text-align: right;
            font-size: 12rem;
            color: #204075;

        }

         @media screen  and (min-width: 422px){

        html {
            font-size: .9px;
        }

        .osnova a {
            max-width: 250rem;
            padding: 23rem 42rem ;
        }

         .vidguk {
            justify-content: flex-start;
         }
         }

    @media screen  and (min-width: 768px){
        html {
            font-size: .9px;
        }

        header {
            flex-wrap: nowrap;
        }

        .center {
            display: block;
            position: relative;
            left: 0;
            background-color: transparent;
        }

        .center ul {
            padding: 6rem 53rem;
            border-radius: 20rem;
            background-color: rgba(172, 172, 170, 0.3);
            gap: 32rem;
            }

        .center li {
            font-size: 14rem;
            line-height: 30rem;
            text-transform: uppercase;
        }
        .main_conteiner {
            flex-wrap: nowrap;
        }

        .burger {
            display: none;
        }

}

@media screen  and (min-width: 1024px){
    html {
        font-size: 1px;
    }
    
    .ball {
        display: block;
        position: absolute;
        bottom: 86rem;
        right: 0rem;
    }
}

@media screen  and (min-width: 1400px){
    html {
        font-size: 1.1px;
    }
}

@media screen  and (min-width: 1920px){
    html {
        font-size: 1.5px;
    }
}

@media screen  and (min-width: 2200px){
    html {
        font-size: 1.7px;
    }
}