        * {
            margin: 0;
            padding: 0;
        }

        html {
            font-size: .6px;
        }

        body {
            position: relative;
            font-family: "Arial";
            cursor: url(../img/cursor.cur),default;
            background-image:radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);;
            gap: 0;
        }

        header {
            flex-wrap: wrap;
            padding-top: 30rem;
            width: 95%;
        }

        a {
            cursor: url(../img/football.cur),default;
            text-decoration:  none;
        }
        
        ul { 
            list-style: none; 
        }
        
        .flex_wrrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20rem;
        }

        .wrapper {
            margin: 0 auto;
            padding: 15rem;
            max-width: 1000rem;
        }

        .grid {
            display: grid;
            justify-content: center;
            gap: 20rem;
    
        }

        .flex_wrap {
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .flex_between {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        .flex {
            display: flex;
            align-items: center;
        }
        
        .dark-bgc {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(8px);
            z-index: 4;
        }
        
        .logo img {
            min-width: 165rem;
        }

        .burger {
            justify-content: flex-end;
            width: 50px;
            height: 100%;
            cursor: pointer;
            gap: 15rem;
        }

        .bord {
            display: block;
            margin: 4px;
            width: 30px;
            height: 5px;
            border-radius: 2px;
            background-color: white;
            transition: all 1s ease;
        }
        
        .b1, .b2 {
            width: 40px;
        }
       
        .b3 {
            width: 40px;
            top: 10px;
        }
        
        .center {
            display: block;
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 2;
            width: 70vw;
            height: 100vh;
            background-color: #f4d633;
            transition: all .5s ease;
            z-index: 5;
        }

        .center ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 20% 20rem ;
            gap: 100rem;
        }
        
        .center a {
            font-size: 39rem;
            color: #204075;
        }

        .logoburger {
            position: absolute;
            bottom: 10%;
           justify-content: center;
        }

        .cancel {
            position: absolute;
            top: 10rem;
            right: -40rem;
            width: 100rem;
            height: 100rem;
            cursor: pointer;
        }
        
        .hover :hover  {
            color: #ffffff;
            transition: all 0.3s ease;
        }

        .hovertwo:hover {
            color: #1d3b6e;
            background-color: #f4d633;
            transition: all 0.6s ease;
        }

        .tell a {
            font-size: 28rem;
            font-weight: 600;
        }
        
        .tel {
            display: none;
        }

        .tel img {
            width: 25rem;
            height: 26rem;
        }

        .tel a  {
            gap: 10rem;
            font-size: 16rem;
            color: #fff;
        }

        main {
            position: relative;
            overflow: hidden;
            padding-bottom: 130rem;
        }

        .black {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 2;
        }

        .mini  {
            font-size: 20rem;
            color: #ffffff;
            font-style: italic;
        }

        .big {
            font-size: 30rem;
            max-width: 665rem;
            padding-bottom: 24rem;
            margin: 0 ;
            color: #ffffff;
        }

        .osnova {
            display: block;
            position: relative;
            z-index: 3;
            padding-top: 153rem;
            padding-bottom: 130rem;
        }

        .osnova h1 {
            text-transform: uppercase;
            margin: 0;
            padding: 13rem 0;
            font-size: 30em;
            color: #ffffff;
            font-weight: 800;
        }
        
        .osnova a {
            display: block;
            text-transform: uppercase;
            font-size: 18rem;
            font-weight: bold;
            max-width: 100%;
            padding: 23rem ;
            text-align: center;
            color: #f4d633;
            border-radius: 40rem ;
            border-style: solid;
            border-color: #f4d633;
        }

        .vidguk {
            align-items: center;
            padding-top: 30rem;
            gap: 10rem;
        }

        .vidguk img {
            min-width: 99rem;
        }
        .vidguk p {
            font-size: 20rem;
            color: #ffffff;
            font-weight: bold;
        }

        .ball picture {
            height: 100%;
        }

        .ball {
            display: block;
            position: absolute;
            height: 100%;
            bottom: 0;
            right: 0;
            z-index: 1;
    }   

        .ball img {
            width: 100%;
            height: 100%;
         }

        .footer {    
            overflow: hidden;
            position: relative;
            padding-top:12rem ;
            padding-bottom: 13rem;
            align-items: center;  
            background-color: #f4d633;
        }
        
        .rosclad {
            display: block;
            font-weight: bold;
            font-size: 20rem;
            line-height: 29rem;
            color: #1e3c6f;
        }

        .footer ul {
            justify-content: center;
            gap: 8rem;
        }

        .footer ul img {
            width: 26rem;
            height: 26rem;
        }

        .logo2 p {
            text-align: center;
            font-size: 20rem;
            color: #204075;
        }

         @media screen  and (min-width: 422px){

            html {
                font-size: .6px;
            }

            .center {
                width: 40vw;
            }
            .osnova a {
                max-width: 250rem;
                padding: 23rem 42rem ;
            }

            .vidguk {
                justify-content: flex-start;
            }

            .logo2 {
                justify-content: end;
            }
            
            .logo2 p {
                text-align: end;
            }

            .osnova h1 {
                font-size: 48rem;
            }

            .ball {
                display: block;
                position: absolute;
            }

            .flex_wrrap {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
           }
           
           .rosclad p {
                font-size: 16rem;
           }

           .logo2 img {
            min-width: 165rem;
           }

           .logo2 p {
               font-size: 12rem;
               color: #204075;
           }
        }
        
        @media screen  and (min-width: 768px){
            html {
                font-size: .9px;
            }
            
            header {
                flex-wrap: nowrap;
            }
            
            .flex_none {
                display: flex;
                justify-content: center;
                padding: 6rem 53rem;
            }

            .center{
                display: block;
                position: static;
                max-width: 488rem;
                max-height: 41rem;
                background-color: transparent;
            }
            
            .hover :hover  {
                color: #f4d633;
                transition: all 0.3s ease;
            }

            .cancel {
                display: none;
            }

            .center ul {
                flex-direction: row;
                border-radius: 20rem;
                background-color: rgba(172, 172, 170, 0.3);
                justify-content: center;
                padding: 6rem 0;
                gap: 20rem;
            }
            
            .center li {
                justify-content: center;
                font-size: 14rem;
                line-height: 30rem;
                text-transform: uppercase;
            }
            
            .center a {
                font-size: 14rem;
                line-height: 24rem;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: bold;
            }
            
            .tell {
                display: none;
            }

            .black {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
                z-index: 2;
             }

            .logoburger {
                display: none;
            }

            .tel {
                display: block;
            }

            .main_conteiner {
                flex-wrap: nowrap;
            }
            
            .burger {
                display: none;
            }


            .osnova h1 {
                font-size: 48rem;
            }

            .ball {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: 1;
            }

}

@media screen  and (min-width: 1024px){
    html {
        font-size: 1px;
    }

    .center ul {
        gap: 29rem;
    }

      .black {
                display: none;
            }
}

@media screen  and (min-width: 1400px){
    html {
        font-size: 1.1px;
    }

    .ball img {
        width: 100%;
        height: 100%;
        min-width: 438rem;
        min-height: 711rem;
        
    }
    
}

@media screen  and (min-width: 1920px){
    html {
        font-size: 1.5px;
    }
}

@media screen  and (min-width: 2200px){
    html {
        font-size: 1.7px;
    }
}