        * {
            margin: 0;
            padding: 0;
        }
        body {
            font-family: "Arial";
            cursor: url(../img/cursor.cur),default;
            background-image:radial-gradient(circle at center, #34619d 0%, #34619d 1%, #1d3b6e 100%);;
        }

        .header {
            padding-top: 30px;
        }

        a {
            cursor: url(../img/football.cur),default;
            text-decoration:  none;
        }

        ul { 
            list-style: none; 
        }

        main  img {
            justify-content: flex-end;
            margin: 0 0 -4px 0;
        }
        .wrapper {
           padding-right:  100px;
           padding-left: 100px;
        }

        .flex_between {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .flex {
            align-items: center;
            display: flex;
        }

        .center ul {
            gap: 32px;
            padding: 6px 53px;
            border-radius: 20px;
            background-color: rgba(172, 172, 170, 0.3);
        }

        .center a {
            font-weight: bold;
            color:white;
            text-decoration:  none;
            
        }
        .center li {
            font-size: 14px;
            line-height: 30px;
            text-transform: uppercase;
        }

        .tel img {
            width: 25px;
            height: 26px;
        }

        .tel a  {
            gap: 10px;
            font-size: 16px;
            color: #fff;
        }

        .mini  {
            font-size: 16px;
            color: #ffffff;
            font-style: italic;
        }

        .big {
            padding-bottom: 24px;
            max-width: 665px;
            margin: 0 ;
            font-size: 30px;
            color: #ffffff;
        }

        .osnova {
            padding-left: 100px;
            display: block;
        }
        .osnova h1 {
            text-transform: uppercase;
            margin: 0;
            max-width: 687px;
            font-size: 48px;
            color: #ffffff;
            font-weight: 800;
        }

        .osnova a {
            text-transform: uppercase;
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
            padding: 23px 66px ;
            color: #f4d633;
            border-radius: 40px ;
            border-style: solid;
            border-color: #f4d633;
        }

        .vidguk {
            padding-top: 30px;
            gap: 10px;
        }

        .vidguk p {
            font-size: 20px;
            color: #ffffff;
            font-weight: bold;
        }

        .footer {    
            padding-top:12px ;
            padding-bottom: 13px;
            align-items: center;  
            background-color: #f4d633;
        }

        .rosclad {
            line-height: 29px;
            display: block;
            font-weight: bold;
            font-size: 16px;
            color: #1e3c6f;
        }

        .footer ul {
            gap: 8px;
        }

        .footer ul img {
            width: 26px;
            height: 26px;
        }
        
        .logo2 p {
            text-align: right;
            font-size: 12px;
            color: #204075;

        }
